{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container">

    <h1 class="titreCateg">Category</h1>

       <div class="row categDispo">
           <div class="col-lg-6 border">
               <img class="img-thumbnail w-25" src="{{ asset('images/category/' ~ category.image) }}">
           </div>

           <div class="col-lg-6 border">
               <td>{{ category.Nom }}</td>
           </div>

       </div>



    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}

    </div>
{% endblock %}
