{% extends 'base_ju.html.twig' %}

{% block title %}Dossier index{% endblock %}

{% block body %}
    <h1>Dossier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers %}
            <tr>
                <td>{{ dossier.id }}</td>
                <td>{{ dossier.Nom }}</td>
                <td>{{ dossier.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_dossier_show', {'id': dossier.id}) }}">show</a>
                    <a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dossier_new') }}">Create new</a>
{% endblock %}
