<!DOCTYPE html>
<html class="globalBG1 {% if app.request.requesturi == "/enigmeUn/" or app.request.requesturi == "/admin"  or app.request.requesturi == "/enigmeDeux/"  or app.request.requesturi == "/enigmeTrois/"  or app.request.requesturi == "/sessions/"  or app.request.requesturi == "/participants/"  or app.request.requesturi == "/agents/" or app.request.requesturi == "/chrono/" %} indexBG{% endif %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {# Bootstrap #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        {# Font Awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        {# Custom Style #}
        <link rel="stylesheet" href="{{ asset('css/styleJu.css') }}">
        {# Progress Bar Style #}
        <link rel="stylesheet" href="{{ asset('css/progressBar.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/huebee@2/dist/huebee.min.css">
        {# Animate CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    {% endblock %}


</head>
<body class="globalBG1 {% if app.request.requesturi == "/enigmeUn/" or app.request.requesturi == "/admin"  or app.request.requesturi == "/enigmeDeux/"  or app.request.requesturi == "/enigmeTrois/"  or app.request.requesturi == "/sessions/"  or app.request.requesturi == "/participants/"  or app.request.requesturi == "/agents/" or app.request.requesturi == "/chrono/" %} indexBG{% endif %}">

{% block body %}
    {% include("admin_interface/parts/sidebar.html.twig") %}

    <div id="chrono" class="col-sm-6 col-6 col-xxl-2 col-xl-2 col-lg-3 col-md-3 mx-auto">
        <form name="form_main">
            <div class="row">
                <div class="text-center">
                    {% for chrono in chronos %}
                    <div class="d-flex justify-content-center mt-3 border border-danger border-2 p-2 timer">
                        <span id="hour">{% if chrono.heure < 10 %} 0{{ chrono.heure }}{% else %}{{ chrono.heure }}{% endif %}</span><span
                                class="colon hour" data-hour="{{ chrono.heure }}"> : </span>
                        <span id="minute"> {% if chrono.minute < 10 %} 0{{ chrono.minute }}{% else %}{{ chrono.minute }}{% endif %}</span><span
                                class="colon minute" data-minute="{{ chrono.minute }}"> : </span>
                        <span id="second" class="second"
                              data-second="{{ chrono.seconde }}"> {% if chrono.seconde < 10 %} 0{{ chrono.seconde }}{% else %} {{ chrono.seconde }}{% endif %}</span>
                        {% endfor %}
                    </div>
                </div>

                <br/>
                <div class="d-flex justify-content-between my-3 chronoControl">
                    <button type="button" name="start" class="btn btn-outline-danger"><i
                                class="fa-solid fa-play"></i></button>
                    <button type="button" name="pause" class="btn btn-outline-danger"><i
                                class="fa-solid fa-pause"></i></button>
                    <button type="button" name="reset" class="btn btn-outline-danger"><i
                                class="fa-solid fa-rotate-right"></i></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# Mesibo JS #}
    <script src="https://api.mesibo.com/mesibo.js"></script>
    <script src="https://unpkg.com/huebee@2/dist/huebee.pkgd.min.js"></script>
    <script src={{ asset("js/fabric.min.js") }}></script>
    <script src={{ asset("js/scriptJu.js") }}></script>
    {# Jquery JS #}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    {# Jquery UI JS #}
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#draggable").draggable();
            $("#draggable2").draggable();
            $("#set div").draggable({stack: "#set div"});
        });
    </script>
    {# Bootstrap JS #}
    <script rel="script" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {# Font Awesome JS #}
    <script rel="script" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
{% endblock %}
</html>
